<div class="sidebar">
  <div class="searchContainer">
    <input type="text" id="student-search" placeholder="Search Books" >
    <button class="searchButton">
      <img ngSrc="assets/SearchIconWhite.svg" alt="" height="73" width="61" class="searchIcon"/>
    </button>
  </div>
  <div class="studentInfo">
    <div class="studentDetails">
      <p class="student-name">Name : Ramchandra Warang</p>
      <p class="student-department">Dept. : I.T.</p>
      <p class="student-batch">Batch : TE 2019</p>
    </div>
    <div class="RecentlyIssuedBooks">
      <p class="title">Recently Issued</p>
    </div>

    <div class="BooksDue">
      <p class="title">Books due</p>
    </div>
  </div>
</div>
